<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="/api/v1/styles">
</head>
<body>
    <div class="content">
        <b class="titleText">HOSPITAL SANTO</b> <img class="crossTitle" src="/api/v1/images/cross.png" alt="">
        <br><br>
        <h2>MENU</h2>
        <br>
        <button onclick="window.location.href = '/api/v1/patients/create'">Novo Paciente</button>
        <button onclick="window.location.href = '/api/v1/patients/search'">Ver Paciente</button>
        <br><br>
        <button onclick="window.location.href = '/api/v1/appointments/create'">Agendar Consulta</button>
        <button onclick="window.location.href = '/api/v1/appointments/search'">Ver Consulta</button>
    </div>
</body>
</html>